{% extends 'layouts/_page.html.twig' %}

{% set titre = "Créer un nouvel article" %}

{% block page %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {{ form_start(form) }}
                    <div class="card">
                        <div class="card-body">
                            {{ form_row(form.title) }}
                            {{ form_row(form.content) }}
                            {{ form_row(form.categorie) }}
                            {{ form_row(form.imageFile) }}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Créer l'article
                            </button>
                            <a href="{{ path('article.index') }}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Retour
                            </a>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %} 